In [4]:
import pandas as pd

df_macro = pd.read_csv('/Users/asger/Documents/GitHub/Deep_Learning_Techniques/Master/Data/macrovariables.csv')
df_technical = pd.read_csv('/Users/asger/Documents/GitHub/Deep_Learning_Techniques/Master/Data/technical_indicators.csv')

df_macro = df_macro.drop(columns=['usd_eur_exchange'])

# Remove first observation of macro
df_macro = df_macro.iloc[1:]

df_technical = df_technical.drop(columns=['date','BB_High', 'BB_Low', 'BB_Middle', 'Parabolic_SAR', 'ROC', 'momentum'])

# combine the two dataframes
df = pd.concat([df_technical, df_macro], axis=1)

# remove first observation and last two observations
df = df.iloc[1:-2]

df = df.drop(columns=['date'])

df.to_csv('/Users/asger/Documents/GitHub/Deep_Learning_Techniques/Master/Data/select_technical_all_nonstationary.csv', index=False)

In [5]:
df.head()

,usd_eur_exchange,SMA_10,SMA_20,MACD_12,RSI,brent,eu_cpi,eu_mro_rate,eu_unemployment_rate,eu_yield_3m,...,eur_stoxx_vix,eur_stoxx,us_cpi,us_federal_fund_rate,us_sp500,us_sp500_vix,us_treasury_yield_3m,us_treasury_yield_10y,us_treasury_yield_30y,us_unemployment
1,-0.0003,1.35163,1.341430,0.009364,40.107019,40.75,2.3,2.0,8.9,2.055906,...,14.5103,2971.12,0.052383,2.25,118.83,13.98,2.33,4.29,4.91,5.4
2,-0.0105,1.35065,1.341630,0.007291,39.923894,41.00,2.3,2.0,8.9,2.064858,...,14.4159,2947.19,0.052383,2.25,118.01,14.09,2.33,4.29,4.88,5.4
3,-0.0125,1.34761,1.341195,0.004746,33.903826,43.25,2.3,2.0,8.9,2.060515,...,13.8016,2966.24,0.052383,2.25,118.61,13.58,2.31,4.29,4.89,5.4
4,0.0047,1.34287,1.340385,0.001700,28.266007,43.28,2.3,2.0,8.9,2.048016,...,13.5709,2979.82,0.052383,2.24,118.44,13.49,2.32,4.29,4.88,5.4
5,0.0052,1.33771,1.339385,-0.000330,32.925766,44.71,2.3,2.0,8.9,2.034898,...,12.9192,2977.21,0.052383,2.26,119.00,13.23,2.36,4.29,4.86,5.4